@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* Lighter light-brown */
  --bg-start: 245, 237, 227; /* #f5ede3 */
  --bg-end: 245, 237, 227;   /* kept equal for consistency */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgba(var(--bg-start), 1);
}
